$trip-containers: rgb(231, 231, 231);

.tripContents {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: 30px auto;
  // overflow: scroll;
}

.itineraryContainer{
  // border: 2px dotted black;
  width: 50%;
  padding: 25px;
  margin: 0px 40px 30px 40px;
  background-color: $trip-containers;
  border-radius: 5px;
}

.attendingContainer {
  // border: 2px dotted black;
  width: 25%;
  height: 50%;
  padding: 10px 25px;
  padding-bottom: 30px;
  background-color: $trip-containers;
  border-radius: 5px;
}

.attendee {
  display: flex;
  align-items: center;
}

.profile-pic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 5px;
}

.item {
  margin: 10px 0px;
  padding: 15px 20px;
}